# PostgreSQL environment variables
POSTGRES_DB=oafse_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DOCKER_DSN=postgres://postgres:postgres@oafse-postgres:5432/oafse_db?sslmode=disable
POSTGRES_LOCAL_DSN=postgres://postgres:postgres@localhost:5432/oafse_db?sslmode=disable

# Redis environment variables
PASSWORD=oafse
REDIS_DOCKER_DSN=redis://oafse-redis:6379/0
REDIS_LOCAL_DSN=redis://localhost:6379/0

# Embedder environment variables
EMBEDDER_DOCKER_URL=oafse-embedder:14445
EMBEDDER_ADDR=[::]:14445
EMBEDDER_LOCAL_URL=localhost:14445

SERVER_DOCKER_URL=oafse-server:14444
SERVER_ADDR=[::]:14444
SERVER_LOCAL_URL=localhost:14444

# Metrics environment variables (each process listens on the same port inside its own container)
METRICS_ADDR=[::]:9100
